{% extends 'taskulate/layout.html' %}
{% block body %}

<!-- View for log in page  -->
<div class="wrap-card">
    <div class="login-text mx-2 my-2" style="color: #2B4865;">
        <p>Welcome back, sign in to continue keeping track of your tasks</p>
    </div>
{% if message %}
    <div>{{ message }}</div>
{% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 ml-2">Log in</legend>
        
        <div class="form-group mb-4">
            <input autofocus class="form-control" name="username" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group mb-4">
            <input autofocus class="form-control ml-10" type="password" name="password" placeholder="Password" autocomplete="off">
        </div>
    </fieldset>
        <div class="margin-bottom mb-3">
            <input type="submit" class="btn btn-outline-primary" value="Login">
        </div>
    </form> 

    <div class="border-top pt-3">
        <small class="text-muted">
            <p>Not signed up? <a href="{% url 'register' %}">Sign up here</a></p>
        </small>
    </div>
</div>

{% endblock %}